.Posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.post-card {
    text-decoration: none;
     color: black;
}

.post-card:hover {
     color: #fa923f;
}